In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("../data/used_cars.csv")

In [3]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB

In [5]:
with open('../data/data_source_link_and _description.txt','r') as f:
    print(f.read())

Used Car Price Prediction Dataset

https://www.kaggle.com/datasets/taeefnajib/used-car-price-prediction-dataset/data

About Dataset
Used Car Price Prediction Dataset is a comprehensive collection of automotive information extracted from the popular automotive marketplace website, https://www.cars.com. This dataset comprises 4,009 data points, each representing a unique vehicle listing, and includes nine distinct features providing valuable insights into the world of automobiles.

Brand & Model: Identify the brand or company name along with the specific model of each vehicle.
Model Year: Discover the manufacturing year of the vehicles, crucial for assessing depreciation and technology advancements.
Mileage: Obtain the mileage of each vehicle, a key indicator of wear and tear and potential maintenance requirements.
Fuel Type: Learn about the type of fuel the vehicles run on, whether it's gasoline, diesel, electric, or hybrid.
Engine Type: Understand the engine specifications, shedding light on performance and efficiency.
Transmission: Determine the transmission type, whether automatic, manual, or another variant.
Exterior & Interior Colors: Explore the aesthetic aspects of the vehicles, including exterior and interior color options.
Accident History: Discover whether a vehicle has a prior history of accidents or damage, crucial for informed decision-making.
Clean Title: Evaluate the availability of a clean title, which can impact the vehicle's resale value and legal status.
Price: Access the listed prices for each vehicle, aiding in price comparison and budgeting.
This dataset is a valuable resource for automotive enthusiasts, buyers, and researchers interested in analyzing trends, making informed purchasing decisions or conducting studies related to the automotive industry and consumer preferences. Whether you are a data analyst, car buyer, or researcher, this dataset offers a wealth of information to explore and analyze.

## Examining quality of the data

In [6]:
df.columns

Index(['brand', 'model', 'model_year', 'milage', 'fuel_type', 'engine',
       'transmission', 'ext_col', 'int_col', 'accident', 'clean_title',
       'price'],
      dtype='object')

In [9]:
df['brand'].unique()

array(['Ford', 'Hyundai', 'Lexus', 'INFINITI', 'Audi', 'Acura', 'BMW',
       'Tesla', 'Land', 'Aston', 'Toyota', 'Lincoln', 'Jaguar',
       'Mercedes-Benz', 'Dodge', 'Nissan', 'Genesis', 'Chevrolet', 'Kia',
       'Jeep', 'Bentley', 'Honda', 'Lucid', 'MINI', 'Porsche', 'Hummer',
       'Chrysler', 'Volvo', 'Cadillac', 'Lamborghini', 'Maserati',
       'Volkswagen', 'Subaru', 'Rivian', 'GMC', 'RAM', 'Alfa', 'Ferrari',
       'Scion', 'Mitsubishi', 'Mazda', 'Saturn', 'Bugatti', 'Polestar',
       'Rolls-Royce', 'McLaren', 'Buick', 'Lotus', 'Pontiac', 'FIAT',
       'Karma', 'Saab', 'Mercury', 'Plymouth', 'smart', 'Maybach',
       'Suzuki'], dtype=object)

In [13]:
len(df['model'].unique())

1898

In [23]:
df['model'].unique()[:50]

array(['Utility Police Interceptor Base', 'Palisade SEL', 'RX 350 RX 350',
       'Q50 Hybrid Sport', 'Q3 45 S line Premium Plus', 'ILX 2.4L',
       'S3 2.0T Premium Plus', '740 iL', 'RC 350 F Sport',
       'Model X Long Range Plus',
       'Rover Range Rover Sport 3.0 Supercharged HST',
       'Martin DBS Superleggera', 'Supra 3.0 Premium',
       'Aviator Reserve AWD', 'F-TYPE', 'Rover LR4 HSE', 'Metris Base',
       'Challenger SXT', '350Z Enthusiast', 'F-TYPE R', 'GV70 3.5T Sport',
       'S-10 LS', '440 Gran Coupe 440i xDrive', 'F-150 XLT',
       'Suburban RST', 'Elantra N Base', 'Sentra SR',
       'AMG CLA 45 Base 4MATIC', '650 Gran Coupe i xDrive',
       'Q5 2.0T Premium Plus', 'AMG C 43 Base 4MATIC',
       'Ram 1500 Laramie Mega Cab', 'i3 120Ah w/Range Extender',
       'Sorento SX', 'LX 570 Base', 'New Compass Trailhawk', '340 i',
       'A4 2.0T Premium Plus quattro', 'Tucson SE', 'Z4 sDrive28i',
       'Continental GTC Base', 'Passport Elite', 'Sprinter 2500',
       'M850 i xDrive', 'Air Grand Touring', 'A7 Premium',
       'Silverado 1500 Custom Trail Boss',
       'Convertible John Cooper Works', 'Avalon Touring',
       'Cayenne Platinum Edition'], dtype=object)

In [17]:
df['model_year'].unique()

array([2013, 2021, 2022, 2015, 2016, 2017, 2001, 2020, 2019, 2003, 2018,
       2023, 2000, 2006, 2011, 2012, 2007, 2014, 2005, 2009, 2010, 2004,
       2008, 1997, 1999, 1993, 2002, 1998, 2024, 1996, 1974, 1992, 1995,
       1994], dtype=int64)

In [22]:
df['milage'].unique()[:50]

array(['51,000 mi.', '34,742 mi.', '22,372 mi.', '88,900 mi.',
       '9,835 mi.', '136,397 mi.', '84,000 mi.', '242,000 mi.',
       '23,436 mi.', '34,000 mi.', '27,608 mi.', '22,770 mi.',
       '12,500 mi.', '18,196 mi.', '15,903 mi.', '79,800 mi.',
       '1,685 mi.', '61,074 mi.', '74,000 mi.', '35,250 mi.', '5,400 mi.',
       '133,510 mi.', '25,990 mi.', '2,823 mi.', '52,000 mi.',
       '11,650 mi.', '96,541 mi.', '17,500 mi.', '69,000 mi.',
       '81,880 mi.', '28,800 mi.', '300,183 mi.', '35,035 mi.',
       '171,000 mi.', '118,700 mi.', '119,000 mi.', '44,261 mi.',
       '125,575 mi.', '16,200 mi.', '70,000 mi.', '20,200 mi.',
       '2,978 mi.', '189,719 mi.', '9,949 mi.', '3,552 mi.', '54,000 mi.',
       '51,351 mi.', '24,280 mi.', '89,148 mi.', '73,043 mi.'],
      dtype=object)

In [24]:
df['fuel_type'].unique()

array(['E85 Flex Fuel', 'Gasoline', 'Hybrid', nan, 'Diesel',
       'Plug-In Hybrid', '–', 'not supported'], dtype=object)

In [26]:
len(df['engine'].unique())

1146

In [28]:
df['engine'].unique()[:20]

array(['300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability',
       '3.8L V6 24V GDI DOHC', '3.5 Liter DOHC',
       '354.0HP 3.5L V6 Cylinder Engine Gas/Electric Hybrid',
       '2.0L I4 16V GDI DOHC Turbo', '2.4 Liter',
       '292.0HP 2.0L 4 Cylinder Engine Gasoline Fuel',
       '282.0HP 4.4L 8 Cylinder Engine Gasoline Fuel',
       '311.0HP 3.5L V6 Cylinder Engine Gasoline Fuel',
       '534.0HP Electric Motor Electric Fuel System', 'V6',
       '715.0HP 5.2L 12 Cylinder Engine Gasoline Fuel',
       '382.0HP 3.0L Straight 6 Cylinder Engine Gasoline Fuel',
       '400.0HP 3.0L V6 Cylinder Engine Gasoline Fuel',
       '2.0 Liter Supercharged',
       '375.0HP 5.0L 8 Cylinder Engine Gasoline Fuel',
       '305.0HP 3.6L V6 Cylinder Engine Gasoline Fuel',
       '287.0HP 3.5L V6 Cylinder Engine Gasoline Fuel',
       '550.0HP 5.0L 8 Cylinder Engine Gasoline Fuel',
       '375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel'], dtype=object)

In [36]:
df['transmission'].unique()

array(['6-Speed A/T', '8-Speed Automatic', 'Automatic', '7-Speed A/T',
       'F', 'A/T', '8-Speed A/T', 'Transmission w/Dual Shift Mode',
       '9-Speed Automatic', '6-Speed M/T', '10-Speed A/T', '9-Speed A/T',
       '5-Speed A/T', '1-Speed A/T', 'Automatic CVT',
       '7-Speed Automatic with Auto-Shift', 'CVT-F', 'M/T',
       '6-Speed Automatic with Auto-Shift', '10-Speed Automatic',
       'CVT Transmission', '4-Speed A/T', '6-Speed Automatic',
       '4-Speed Automatic', '7-Speed M/T',
       '8-Speed Automatic with Auto-Shift', '5-Speed Automatic',
       '8-SPEED AT', '1-Speed Automatic', '5-Speed M/T', 'Manual',
       '6-Speed Manual', 'Variable', '2', '7-Speed Manual',
       'Automatic, 9-Spd 9G-Tronic', 'Automatic, 8-Spd',
       'Automatic, 8-Spd Sport w/Sport & Manual Modes', '–',
       'Auto, 6-Spd w/CmdShft', 'Transmission Overdrive Switch',
       '7-Speed Automatic', 'Automatic, 8-Spd PDK Dual-Clutch',
       'Automatic, 8-Spd M STEPTRONIC w/Drivelogic, Sport & Manual Modes',
       'Automatic, 8-Spd Dual-Clutch', '6-Speed',
       'Single-Speed Fixed Gear', 'Automatic, 10-Spd',
       '2-Speed Automatic', '7-Speed',
       'Automatic, 7-Spd S tronic Dual-Clutch', 'Manual, 6-Spd',
       '6-Speed Electronically Controlled Automatic with O',
       '6 Speed At/Mt', '8-SPEED A/T',
       '10-Speed Automatic with Overdrive', '7-Speed DCT Automatic',
       '9-Speed Automatic with Auto-Shift',
       'SCHEDULED FOR OR IN PRODUCTION', '2-Speed A/T', '6 Speed Mt',
       '8-Speed Manual'], dtype=object)

In [38]:
len(df['ext_col'].unique())

319

In [39]:
len(df['int_col'].unique())

156

In [42]:
df['accident'].unique()

array(['At least 1 accident or damage reported', 'None reported', nan],
      dtype=object)

In [43]:
df['clean_title'].unique()

array(['Yes', nan], dtype=object)

In [45]:
df['price'].unique()[:50]

array(['$10,300', '$38,005', '$54,598', '$15,500', '$34,999', '$14,798',
       '$31,000', '$7,300', '$41,927', '$69,950', '$73,897', '$184,606',
       '$53,500', '$62,000', '$47,998', '$29,990', '$250,000', '$16,800',
       '$11,000', '$68,750', '$60,000', '$4,500', '$38,598', '$58,504',
       '$61,000', '$32,300', '$13,998', '$59,995', '$25,700', '$21,375',
       '$48,000', '$10,900', '$24,998', '$5,999', '$46,900', '$15,900',
       '$33,598', '$8,999', '$8,200', '$20,000', '$79,950', '$45,498',
       '$14,000', '$75,798', '$119,999', '$36,880', '$43,147', '$29,000',
       '$17,500', '$30,990'], dtype=object)

**_Quality_**
* inconsistent model values
* milage has ',' and ' mi.' included
* milage has object as datatype need to convert to int
* fuel_type contains 'nan', '-', 'not supported' values
* could engineer multiple features from engine feature
* convert transmission feature into categorical feature (automatic, manual, unknown)
* transform ext_col into fewer categories (like blue, red, black, white, etc.)
* transform int_col into fewer categories
* price column has ',' and '$' included
* price column should numeric
* missing values: fuel_type, accident, clean_title

## Data Cleaning