In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("../data/cleaned_used_cars.csv")

In [3]:
df.head()

,Unnamed: 0,brand,milage,fuel_type,transmission,ext_col,int_col,accident,clean_title,engine_size,horsepower,cylinder_count,log_transformed_price,car_age
0,0,Ford,51000,E85 Flex Fuel,Automatic,Black,Black,yes_accident,Yes,3.700000,300.000000,6.000000,9.239996,11
1,1,Hyundai,34742,Gasoline,Automatic,Other,Grey,yes_accident,Yes,3.800000,331.968418,6.254492,10.545499,3
2,2,Lexus,22372,Gasoline,Automatic,Blue,Black,no_accident,Unknown,3.703959,331.968418,6.254492,10.907771,2
3,3,INFINITI,88900,Hybrid,Automatic,Black,Black,no_accident,Yes,3.500000,354.000000,6.000000,9.648660,9
4,4,Audi,9835,Gasoline,Automatic,White,Black,no_accident,Unknown,2.000000,331.968418,6.254492,10.463103,3

In [5]:
df = df.drop('Unnamed: 0',axis=1)

In [6]:
df.select_dtypes(include='object')

,brand,fuel_type,transmission,ext_col,int_col,accident,clean_title
0,Ford,E85 Flex Fuel,Automatic,Black,Black,yes_accident,Yes
1,Hyundai,Gasoline,Automatic,Other,Grey,yes_accident,Yes
2,Lexus,Gasoline,Automatic,Blue,Black,no_accident,Unknown
3,INFINITI,Hybrid,Automatic,Black,Black,no_accident,Yes
4,Audi,Gasoline,Automatic,White,Black,no_accident,Unknown
...,...,...,...,...,...,...,...
3996,Bentley,Gasoline,Automatic,Other,Other,no_accident,Yes
3997,Audi,Gasoline,Unknown,Black,Black,no_accident,Yes
3998,Porsche,Unknown,Automatic,Black,Black,no_accident,Unknown
3999,Ford,Gasoline,Automatic,Blue,Black,no_accident,Yes
4000,BMW,Gasoline,Automatic,Grey,Brown,yes_accident,Yes

In [7]:
with open('../data/data_source_link_and _description.txt','r') as f:
    print(f.read())

Used Car Price Prediction Dataset

https://www.kaggle.com/datasets/taeefnajib/used-car-price-prediction-dataset/data

About Dataset
Used Car Price Prediction Dataset is a comprehensive collection of automotive information extracted from the popular automotive marketplace website, https://www.cars.com. This dataset comprises 4,009 data points, each representing a unique vehicle listing, and includes nine distinct features providing valuable insights into the world of automobiles.

Brand & Model: Identify the brand or company name along with the specific model of each vehicle.
Model Year: Discover the manufacturing year of the vehicles, crucial for assessing depreciation and technology advancements.
Mileage: Obtain the mileage of each vehicle, a key indicator of wear and tear and potential maintenance requirements.
Fuel Type: Learn about the type of fuel the vehicles run on, whether it's gasoline, diesel, electric, or hybrid.
Engine Type: Understand the engine specifications, shedding light on performance and efficiency.
Transmission: Determine the transmission type, whether automatic, manual, or another variant.
Exterior & Interior Colors: Explore the aesthetic aspects of the vehicles, including exterior and interior color options.
Accident History: Discover whether a vehicle has a prior history of accidents or damage, crucial for informed decision-making.
Clean Title: Evaluate the availability of a clean title, which can impact the vehicle's resale value and legal status.
Price: Access the listed prices for each vehicle, aiding in price comparison and budgeting.
This dataset is a valuable resource for automotive enthusiasts, buyers, and researchers interested in analyzing trends, making informed purchasing decisions or conducting studies related to the automotive industry and consumer preferences. Whether you are a data analyst, car buyer, or researcher, this dataset offers a wealth of information to explore and analyze.