In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('../data/used_cars.csv')

In [3]:
df_copy = df.copy()

In [4]:
df.index.name = "Index"

In [5]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
Index,,,,,,,,,,,,
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB

In [7]:
df.duplicated().sum()

0

In [8]:
df.isnull().sum()

brand             0
model             0
model_year        0
milage            0
fuel_type       170
engine            0
transmission      0
ext_col           0
int_col           0
accident        113
clean_title     596
price             0
dtype: int64

In [9]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
Index,,,,,,,,,,,,
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"

## Examining Data Quality

In [10]:
df.columns

Index(['brand', 'model', 'model_year', 'milage', 'fuel_type', 'engine',
       'transmission', 'ext_col', 'int_col', 'accident', 'clean_title',
       'price'],
      dtype='object')

In [11]:
df['brand'].unique()

array(['Ford', 'Hyundai', 'Lexus', 'INFINITI', 'Audi', 'Acura', 'BMW',
       'Tesla', 'Land', 'Aston', 'Toyota', 'Lincoln', 'Jaguar',
       'Mercedes-Benz', 'Dodge', 'Nissan', 'Genesis', 'Chevrolet', 'Kia',
       'Jeep', 'Bentley', 'Honda', 'Lucid', 'MINI', 'Porsche', 'Hummer',
       'Chrysler', 'Volvo', 'Cadillac', 'Lamborghini', 'Maserati',
       'Volkswagen', 'Subaru', 'Rivian', 'GMC', 'RAM', 'Alfa', 'Ferrari',
       'Scion', 'Mitsubishi', 'Mazda', 'Saturn', 'Bugatti', 'Polestar',
       'Rolls-Royce', 'McLaren', 'Buick', 'Lotus', 'Pontiac', 'FIAT',
       'Karma', 'Saab', 'Mercury', 'Plymouth', 'smart', 'Maybach',
       'Suzuki'], dtype=object)

In [12]:
df['model'].unique()[:30]

array(['Utility Police Interceptor Base', 'Palisade SEL', 'RX 350 RX 350',
       'Q50 Hybrid Sport', 'Q3 45 S line Premium Plus', 'ILX 2.4L',
       'S3 2.0T Premium Plus', '740 iL', 'RC 350 F Sport',
       'Model X Long Range Plus',
       'Rover Range Rover Sport 3.0 Supercharged HST',
       'Martin DBS Superleggera', 'Supra 3.0 Premium',
       'Aviator Reserve AWD', 'F-TYPE', 'Rover LR4 HSE', 'Metris Base',
       'Challenger SXT', '350Z Enthusiast', 'F-TYPE R', 'GV70 3.5T Sport',
       'S-10 LS', '440 Gran Coupe 440i xDrive', 'F-150 XLT',
       'Suburban RST', 'Elantra N Base', 'Sentra SR',
       'AMG CLA 45 Base 4MATIC', '650 Gran Coupe i xDrive',
       'Q5 2.0T Premium Plus'], dtype=object)

In [13]:
df['model_year'].unique()

array([2013, 2021, 2022, 2015, 2016, 2017, 2001, 2020, 2019, 2003, 2018,
       2023, 2000, 2006, 2011, 2012, 2007, 2014, 2005, 2009, 2010, 2004,
       2008, 1997, 1999, 1993, 2002, 1998, 2024, 1996, 1974, 1992, 1995,
       1994], dtype=int64)

In [14]:
df['milage'].unique()[:30]

array(['51,000 mi.', '34,742 mi.', '22,372 mi.', '88,900 mi.',
       '9,835 mi.', '136,397 mi.', '84,000 mi.', '242,000 mi.',
       '23,436 mi.', '34,000 mi.', '27,608 mi.', '22,770 mi.',
       '12,500 mi.', '18,196 mi.', '15,903 mi.', '79,800 mi.',
       '1,685 mi.', '61,074 mi.', '74,000 mi.', '35,250 mi.', '5,400 mi.',
       '133,510 mi.', '25,990 mi.', '2,823 mi.', '52,000 mi.',
       '11,650 mi.', '96,541 mi.', '17,500 mi.', '69,000 mi.',
       '81,880 mi.'], dtype=object)

In [15]:
df['fuel_type'].unique()

array(['E85 Flex Fuel', 'Gasoline', 'Hybrid', nan, 'Diesel',
       'Plug-In Hybrid', '–', 'not supported'], dtype=object)

In [16]:
df['fuel_type'].value_counts()

fuel_type
Gasoline          3309
Hybrid             194
E85 Flex Fuel      139
Diesel             116
–                   45
Plug-In Hybrid      34
not supported        2
Name: count, dtype: int64

In [17]:
df['engine'].unique()[:30]

array(['300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability',
       '3.8L V6 24V GDI DOHC', '3.5 Liter DOHC',
       '354.0HP 3.5L V6 Cylinder Engine Gas/Electric Hybrid',
       '2.0L I4 16V GDI DOHC Turbo', '2.4 Liter',
       '292.0HP 2.0L 4 Cylinder Engine Gasoline Fuel',
       '282.0HP 4.4L 8 Cylinder Engine Gasoline Fuel',
       '311.0HP 3.5L V6 Cylinder Engine Gasoline Fuel',
       '534.0HP Electric Motor Electric Fuel System', 'V6',
       '715.0HP 5.2L 12 Cylinder Engine Gasoline Fuel',
       '382.0HP 3.0L Straight 6 Cylinder Engine Gasoline Fuel',
       '400.0HP 3.0L V6 Cylinder Engine Gasoline Fuel',
       '2.0 Liter Supercharged',
       '375.0HP 5.0L 8 Cylinder Engine Gasoline Fuel',
       '305.0HP 3.6L V6 Cylinder Engine Gasoline Fuel',
       '287.0HP 3.5L V6 Cylinder Engine Gasoline Fuel',
       '550.0HP 5.0L 8 Cylinder Engine Gasoline Fuel',
       '375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel',
       '120.0HP 2.2L 4 Cylinder Engine Flex Fuel Capability',
       '3.0 Liter Turbo', '3.5L V6 24V PDI DOHC Twin Turbo',
       '355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel',
       '276.0HP 2.0L 4 Cylinder Engine Gasoline Fuel', '1.8 Liter',
       '382.0HP 2.0L 4 Cylinder Engine Gasoline Fuel',
       '445.0HP 4.4L 8 Cylinder Engine Gasoline Fuel',
       '2.0L I4 16V GDI DOHC Turbo Flexible Fuel',
       '362.0HP 3.0L V6 Cylinder Engine Gasoline Fuel'], dtype=object)

In [18]:
df['transmission'].unique()

array(['6-Speed A/T', '8-Speed Automatic', 'Automatic', '7-Speed A/T',
       'F', 'A/T', '8-Speed A/T', 'Transmission w/Dual Shift Mode',
       '9-Speed Automatic', '6-Speed M/T', '10-Speed A/T', '9-Speed A/T',
       '5-Speed A/T', '1-Speed A/T', 'Automatic CVT',
       '7-Speed Automatic with Auto-Shift', 'CVT-F', 'M/T',
       '6-Speed Automatic with Auto-Shift', '10-Speed Automatic',
       'CVT Transmission', '4-Speed A/T', '6-Speed Automatic',
       '4-Speed Automatic', '7-Speed M/T',
       '8-Speed Automatic with Auto-Shift', '5-Speed Automatic',
       '8-SPEED AT', '1-Speed Automatic', '5-Speed M/T', 'Manual',
       '6-Speed Manual', 'Variable', '2', '7-Speed Manual',
       'Automatic, 9-Spd 9G-Tronic', 'Automatic, 8-Spd',
       'Automatic, 8-Spd Sport w/Sport & Manual Modes', '–',
       'Auto, 6-Spd w/CmdShft', 'Transmission Overdrive Switch',
       '7-Speed Automatic', 'Automatic, 8-Spd PDK Dual-Clutch',
       'Automatic, 8-Spd M STEPTRONIC w/Drivelogic, Sport & Manual Modes',
       'Automatic, 8-Spd Dual-Clutch', '6-Speed',
       'Single-Speed Fixed Gear', 'Automatic, 10-Spd',
       '2-Speed Automatic', '7-Speed',
       'Automatic, 7-Spd S tronic Dual-Clutch', 'Manual, 6-Spd',
       '6-Speed Electronically Controlled Automatic with O',
       '6 Speed At/Mt', '8-SPEED A/T',
       '10-Speed Automatic with Overdrive', '7-Speed DCT Automatic',
       '9-Speed Automatic with Auto-Shift',
       'SCHEDULED FOR OR IN PRODUCTION', '2-Speed A/T', '6 Speed Mt',
       '8-Speed Manual'], dtype=object)

In [19]:
df['ext_col'].unique()[:50]

array(['Black', 'Moonlight Cloud', 'Blue', 'Glacier White Metallic',
       'Silver', 'Green', 'Fuji White', 'Yellow', 'White', 'Gray',
       'Purple', 'Iconic Silver Metallic', 'Mythos Black Metallic', 'Red',
       'Gold', 'Lunar Silver Metallic', 'Mountain Air Metallic',
       'Caspian Blue', 'Tango Red Metallic', '–', 'Alpine White',
       'BLU ELEOS', 'Horizon Blue', 'Granite Crystal Clearcoat Metallic',
       'Orange', 'Beige', 'Rift Metallic', 'Atomic Silver',
       'Summit White', 'Imperial Blue Metallic',
       'Magnetic Gray Clearcoat', 'Bright White Clearcoat',
       'Typhoon Gray', 'Crystal Black Silica', 'Arctic Gray Metallic',
       'Selenite Grey Metallic', 'Ultra Black', 'Lunare White Metallic',
       'Hyper Red', 'Daytona Gray Pearl Effect', 'Vik Black',
       'Pacific Blue Metallic', 'Obsidian Black Metallic',
       'Silver Ice Metallic', 'Sonic Silver Metallic', 'Nightfall Mica',
       'Apex Blue', 'Go Mango!', 'Ingot Silver Metallic',
       'Midnight Black Metallic'], dtype=object)

In [20]:
df['int_col'].unique()[:50]

array(['Black', 'Gray', 'Ebony.', 'Green', 'Pimento / Ebony', 'Brown',
       'White', '–', 'Beige', 'Jet Black', 'Light Gray', 'Anthracite',
       'Red', 'Nero Ade', 'Blue', 'Charcoal', 'Rioja Red',
       'Canberra Beige/Black', 'Roast', 'Ivory / Ebony',
       'Silk Beige/Black', 'Medium Pewter', 'Ice', 'Black / Express Red',
       'Obsidian Black', 'Ebony', 'Orange', 'Caramel', 'Orchid',
       'Graphite', 'Tan/Ebony', 'Cappuccino', 'Nero', 'Sahara Tan',
       'BLACK', 'Hotspur', 'Blk', 'Black Onyx', 'Nougat Brown',
       'Titan Black', 'Oyster W/Contrast', 'Silver',
       'Macchiato Beige/Black', 'Sand Beige', 'Navy Pier', 'WHITE',
       'Parchment.', 'Sarder Brown', 'Grace White', 'Cloud'], dtype=object)

In [21]:
print(f"unique exterior color count: {len(df['ext_col'].unique())}\nunique interior color count: {len(df['int_col'].unique())}")

unique exterior color count: 319
unique interior color count: 156

In [22]:
df['accident'].unique()

array(['At least 1 accident or damage reported', 'None reported', nan],
      dtype=object)

In [23]:
df['accident'].value_counts()

accident
None reported                             2910
At least 1 accident or damage reported     986
Name: count, dtype: int64

In [24]:
df['clean_title'].unique()

array(['Yes', nan], dtype=object)

In [25]:
df['clean_title'].value_counts()

clean_title
Yes    3413
Name: count, dtype: int64

In [26]:
df['price'].unique()[:30]

array(['$10,300', '$38,005', '$54,598', '$15,500', '$34,999', '$14,798',
       '$31,000', '$7,300', '$41,927', '$69,950', '$73,897', '$184,606',
       '$53,500', '$62,000', '$47,998', '$29,990', '$250,000', '$16,800',
       '$11,000', '$68,750', '$60,000', '$4,500', '$38,598', '$58,504',
       '$61,000', '$32,300', '$13,998', '$59,995', '$25,700', '$21,375'],
      dtype=object)

**_Quality of the Data_**
* inconsistent model values  (feature eleminating - cause no pattern in feature)
* need to convert model_year column to car_age ✔️
* milage has ',' and ' mi.' included ✔️
* milage has object as datatype need to convert to int ✔️
* fuel_type contains '-', 'not supported' values ✔️
* multiple features can be engineered from engine feature  ('engine_size', 'horsepower', 'cylinder_count')
* need to convert transmission feature into categorical feature (automatic, manual, unknown) ✔️
* need to reduce ext_col count into fewer categories (like blue, red, black, white, etc.) ✔️
* need to reduce int_col count into fewer categories ✔️
* price column has ',' and '$' included ✔️
* price column should be numeric ✔️
* missing values: fuel_type, accident, clean_title
* engineered features ('engine_size', 'horsepower', 'cylinder_count') have missing values

## Data Cleaning

In [27]:
import datetime
current_year = datetime.datetime.now().year
df['car_age'] = current_year - df['model_year']
df = df.drop('model_year',axis=1)

In [28]:
df['milage'] = df['milage'].str.slice(0,-4).str.replace(",","").astype(int)

In [29]:
df['fuel_type'].unique()

array(['E85 Flex Fuel', 'Gasoline', 'Hybrid', nan, 'Diesel',
       'Plug-In Hybrid', '–', 'not supported'], dtype=object)

In [30]:
df['fuel_type'] = df['fuel_type'].apply(lambda x: "Unknown" if x in ['–','not supported'] else ("Hybrid" if x=='Plug-In Hybrid' else x))

In [31]:
automatic = ["a/t","cvt",'dual-clutch','auto-shift','automatic']
manual = ['m/t','manual']
def clean_transmission(transmission):
    if any(x in transmission.lower() for x in automatic):
        transmission = "Automatic"
    elif any(x in transmission.lower() for x in manual):
        transmission = "Manual"
    else:
        transmission = "Unknown"
        
    return transmission

In [32]:
df['transmission'] = df['transmission'].apply(clean_transmission)

In [33]:
colors = ['black','blue','red','white','silver','green','gray','yellow','purple','gold','orange','brown','pink', 'grey']  
#most common colors are listed first
def clean_color(color):
    for c in colors:
        if c in color.lower():
            cleaned_color = c.capitalize()
            break
        else:
            cleaned_color = "Other"
            
    if cleaned_color=='Gray':
        return "Grey"
    
    return cleaned_color

In [34]:
df['ext_col'] = df['ext_col'].apply(clean_color)

In [35]:
df['int_col'] = df['int_col'].apply(clean_color)

In [36]:
df['accident'] = df['accident'].apply(lambda x: "Accident reported" if x=="At least 1 accident or damage reported" else x)

In [37]:
df['price'] = df['price'].str.slice(1,).str.replace(",","").astype(int)

In [38]:
df.head()

,brand,model,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,car_age
Index,,,,,,,,,,,,
0,Ford,Utility Police Interceptor Base,51000,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,Automatic,Black,Black,Accident reported,Yes,10300,12
1,Hyundai,Palisade SEL,34742,Gasoline,3.8L V6 24V GDI DOHC,Automatic,Other,Grey,Accident reported,Yes,38005,4
2,Lexus,RX 350 RX 350,22372,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,54598,3
3,INFINITI,Q50 Hybrid Sport,88900,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,Automatic,Black,Black,None reported,Yes,15500,10
4,Audi,Q3 45 S line Premium Plus,9835,Gasoline,2.0L I4 16V GDI DOHC Turbo,Automatic,White,Black,None reported,NaN,34999,4

## Feature Engineering

In [39]:
df['horsepower'] = df['engine'].str.extract(r'(\d+\.?\d*)HP').astype(float)

In [40]:
df['engine_size'] = df['engine'].str.extract(r'(\d+\.?\d*)L').astype(float)

In [41]:
df['cylinder_count'] = df['engine'].str.extract(r'(\d+\.?\d*) Cylinder').astype(float)

## Filling Missing values

In [42]:
df['fuel_type'] = df['fuel_type'].fillna('Unknown')

In [43]:
df['accident'] = df['accident'].fillna('Unknown')

In [44]:
df['clean_title'] = df['clean_title'].fillna('Unknown')

In [45]:
df.head(2)

,brand,model,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,car_age,horsepower,engine_size,cylinder_count
Index,,,,,,,,,,,,,,,
0,Ford,Utility Police Interceptor Base,51000,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,Automatic,Black,Black,Accident reported,Yes,10300,12,300.0,3.7,6.0
1,Hyundai,Palisade SEL,34742,Gasoline,3.8L V6 24V GDI DOHC,Automatic,Other,Grey,Accident reported,Yes,38005,4,NaN,3.8,NaN

In [46]:
cleaned_df = df.drop(['model','engine'],axis=1).copy()

In [47]:
cleaned_df.head()

,brand,milage,fuel_type,transmission,ext_col,int_col,accident,clean_title,price,car_age,horsepower,engine_size,cylinder_count
Index,,,,,,,,,,,,,
0,Ford,51000,E85 Flex Fuel,Automatic,Black,Black,Accident reported,Yes,10300,12,300.0,3.7,6.0
1,Hyundai,34742,Gasoline,Automatic,Other,Grey,Accident reported,Yes,38005,4,NaN,3.8,NaN
2,Lexus,22372,Gasoline,Automatic,Blue,Black,None reported,Unknown,54598,3,NaN,NaN,NaN
3,INFINITI,88900,Hybrid,Automatic,Black,Black,None reported,Yes,15500,10,354.0,3.5,6.0
4,Audi,9835,Gasoline,Automatic,White,Black,None reported,Unknown,34999,4,NaN,2.0,NaN

In [48]:
cleaned_df.to_csv("../data/cleaned_used_car_df.csv",index=False)

# Custom Transformer to convert newly added data into cleaned dataset

In [49]:
from sklearn.base import BaseEstimator, TransformerMixin

In [50]:
class DataCleaner(BaseEstimator,TransformerMixin):
    dt = __import__('datetime')
    def fit(self,X,y=None):
        return self

    def clean_transmission(self,transmission):
        automatic = ["a/t","cvt",'dual-clutch','auto-shift','automatic']
        manual = ['m/t','manual']
        if any(x in transmission.lower() for x in automatic):
            transmission = "Automatic"
        elif any(x in transmission.lower() for x in manual):
            transmission = "Manual"
        else:
            transmission = "Unknown"
        
        return transmission

    def clean_color(self,color):
        colors = ['black','blue','red','white','silver','green','gray','yellow','purple','gold','orange','brown','pink', 'grey']  
        #most common colors are listed first
        for c in colors:
            if c in color.lower():
                cleaned_color = c.capitalize()
                break
            else:
                cleaned_color = "Other"
                
        if cleaned_color=='Gray':
            return "Grey"
        
        return cleaned_color
    
    def transform(self,X,y=None):
        X_ = X.copy()

        #model
        X_['milage'] = X_['milage'].str.slice(0,-4).str.replace(",","").astype(int)

        #model_year
        current_year = self.dt.datetime.now().year
        X_['car_age'] = current_year - X_['model_year']
        X_ = X_.drop('model_year',axis=1)

        #fuel_type
        X_['fuel_type'] = X_['fuel_type'].apply(lambda x: "Unknown" if x in ['–','not supported'] else ("Hybrid" if x=='Plug-In Hybrid' else x))

        #transmission
        X_['transmission'] = X_['transmission'].apply(self.clean_transmission)

        #ext_col
        X_['ext_col'] = X_['ext_col'].apply(self.clean_color)

        #int_col
        X_['int_col'] = X_['int_col'].apply(self.clean_color)

        #accident
        X_['accident'] = X_['accident'].apply(lambda x: "Accident reported" if x=="At least 1 accident or damage reported" else x)

        #price
        X_['price'] = X_['price'].str.slice(1,).str.replace(",","").astype(int)

        #horsepower
        X_['horsepower'] = X_['engine'].str.extract(r'(\d+\.?\d*)HP').astype(float)

        #engine_size
        X_['engine_size'] = X_['engine'].str.extract(r'(\d+\.?\d*)L').astype(float)

        #cylinder_count
        X_['cylinder_count'] = X_['engine'].str.extract(r'(\d+\.?\d*) Cylinder').astype(float)

        #missing vallue filling
        X_['fuel_type'] = X_['fuel_type'].fillna('Unknown')
        X_['accident'] = X_['accident'].fillna('Unknown')
        X_['clean_title'] = X_['clean_title'].fillna('Unknown')
        
        #dropping unnecessary columns
        X_ = X_.drop('model',axis=1)
        X_ = X_.drop('engine',axis=1)

        return X_

In [51]:
transformer = DataCleaner()

In [52]:
transformer.fit(df)

DataCleaner()

In [53]:
cleaned_transformed_df = transformer.transform(df_copy)

In [54]:
cleaned_transformed_df

,brand,milage,fuel_type,transmission,ext_col,int_col,accident,clean_title,price,car_age,horsepower,engine_size,cylinder_count
0,Ford,51000,E85 Flex Fuel,Automatic,Black,Black,Accident reported,Yes,10300,12,300.0,3.7,6.0
1,Hyundai,34742,Gasoline,Automatic,Other,Grey,Accident reported,Yes,38005,4,NaN,3.8,NaN
2,Lexus,22372,Gasoline,Automatic,Blue,Black,None reported,Unknown,54598,3,NaN,NaN,NaN
3,INFINITI,88900,Hybrid,Automatic,Black,Black,None reported,Yes,15500,10,354.0,3.5,6.0
4,Audi,9835,Gasoline,Automatic,White,Black,None reported,Unknown,34999,4,NaN,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4004,Bentley,714,Gasoline,Automatic,Other,Other,None reported,Yes,349950,2,NaN,6.0,NaN
4005,Audi,10900,Gasoline,Unknown,Black,Black,None reported,Yes,53900,3,349.0,3.0,6.0
4006,Porsche,2116,Unknown,Automatic,Black,Black,None reported,Unknown,90998,3,NaN,NaN,NaN
4007,Ford,33000,Gasoline,Automatic,Blue,Black,None reported,Yes,62999,5,450.0,3.5,6.0
4008,BMW,43000,Gasoline,Automatic,Grey,Brown,Accident reported,Yes,40000,5,248.0,2.0,4.0

In [55]:
cleaned_transformed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   brand           4009 non-null   object
 1   milage          4009 non-null   int32
 2   fuel_type       4009 non-null   object
 3   transmission    4009 non-null   object
 4   ext_col         4009 non-null   object
 5   int_col         4009 non-null   object
 6   accident        4009 non-null   object
 7   clean_title     4009 non-null   object
 8   price           4009 non-null   int32
 9   car_age         4009 non-null   int64
 10  horsepower      3201 non-null   float64
 11  engine_size     3632 non-null   float64
 12  cylinder_count  3064 non-null   float64
dtypes: float64(3), int32(2), int64(1), object(7)
memory usage: 376.0+ KB