In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [169]:
df = pd.read_csv('../data/used_cars.csv')

In [171]:
df.index.name = "Index"

In [172]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
Index,,,,,,,,,,,,
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"

In [173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB

In [174]:
df.duplicated().sum()

0

In [175]:
df.isnull().sum()

brand             0
model             0
model_year        0
milage            0
fuel_type       170
engine            0
transmission      0
ext_col           0
int_col           0
accident        113
clean_title     596
price             0
dtype: int64

In [176]:
train_df, test_df = train_test_split(df,test_size=0.2,random_state=42)

In [177]:
train_df.to_csv('../data/train_car_data.csv',index='True')
test_df.to_csv('../data/test_car_data.csv',index='True')

In [178]:
train_df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
Index,,,,,,,,,,,,
2473,Ford,Explorer Platinum,2018,"73,049 mi.",Gasoline,3.5L V6 24V GDI DOHC Twin Turbo,6-Speed Automatic,Gray,Ebony Black,At least 1 accident or damage reported,Yes,"$30,510"
1338,GMC,Yukon XL AT4,2023,"9,980 mi.",Gasoline,355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel,10-Speed A/T,Black,Black,None reported,Yes,"$82,000"
1613,BMW,M3 Base,2016,"55,250 mi.",Gasoline,425.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Blue,White,None reported,Yes,"$49,999"
1610,Lexus,IS 350 Base,2017,"77,300 mi.",Gasoline,306.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,6-Speed A/T,White,Black,None reported,Yes,"$30,000"
2600,Ford,Focus SE,2018,"33,700 mi.",E85 Flex Fuel,160.0HP 2.0L 4 Cylinder Engine Flex Fuel Capab...,A/T,Gray,Black,At least 1 accident or damage reported,Yes,"$12,000"

## Examining Data Quality

In [10]:
train_df.columns

Index(['brand', 'model', 'model_year', 'milage', 'fuel_type', 'engine',
       'transmission', 'ext_col', 'int_col', 'accident', 'clean_title',
       'price'],
      dtype='object')

In [11]:
train_df['brand'].unique()

array(['Ford', 'GMC', 'BMW', 'Lexus', 'MINI', 'Maserati', 'Acura',
       'Mercedes-Benz', 'Jaguar', 'Dodge', 'Chevrolet', 'Porsche',
       'Toyota', 'Honda', 'Hyundai', 'Land', 'Mitsubishi', 'Kia', 'RAM',
       'Audi', 'Subaru', 'Pontiac', 'Jeep', 'Genesis', 'Volkswagen',
       'Cadillac', 'Nissan', 'Lamborghini', 'Tesla', 'McLaren', 'Lincoln',
       'Volvo', 'Bentley', 'Mazda', 'Chrysler', 'INFINITI', 'Rivian',
       'Scion', 'Buick', 'Aston', 'Alfa', 'Saturn', 'Lotus', 'Ferrari',
       'FIAT', 'Rolls-Royce', 'Maybach', 'Plymouth', 'Hummer', 'Karma',
       'Polestar', 'Lucid', 'smart', 'Suzuki', 'Mercury', 'Saab'],
      dtype=object)

In [12]:
train_df['model'].unique()[:30]

array(['Explorer Platinum', 'Yukon XL AT4', 'M3 Base', 'IS 350 Base',
       'Focus SE', 'Countryman Cooper S ALL4', 'Ghibli S Q4',
       'F-150 Tremor', 'TLX V6 Advance', 'AMG GT 53 Base', 'XJ8 L',
       'Challenger SRT8 392', 'Camaro 1LT', 'Panamera 4',
       'Tundra SR5 Access Cab', 'Accord Crosstour EX-L',
       'Genesis Coupe 3.8 Track', 'F-TYPE R', 'C-Max Energi SE',
       'Rover Range Rover Sport HST MHEV', 'AMG GT 63 S 4-Door',
       '750 Li xDrive', 'Montero Limited', 'SL-Class SL500 Roadster',
       'Yukon XL Denali', 'Explorer Limited', 'Sorento LX V6',
       '1500 Rebel', 'Equus Signature', 'Prius Plug-in Base'],
      dtype=object)

In [13]:
train_df['model_year'].unique()

array([2018, 2023, 2016, 2017, 2019, 2021, 2006, 2012, 2011, 2005, 2010,
       2020, 2004, 2022, 2014, 2015, 2013, 2002, 2001, 2007, 2009, 2008,
       2000, 1996, 1999, 2003, 1995, 1997, 1993, 1994, 1974, 1998, 2024,
       1992], dtype=int64)

In [14]:
train_df['milage'].unique()[:30]

array(['73,049 mi.', '9,980 mi.', '55,250 mi.', '77,300 mi.',
       '33,700 mi.', '95,070 mi.', '49,750 mi.', '5,500 mi.',
       '25,779 mi.', '17,994 mi.', '78,049 mi.', '74,000 mi.',
       '85,000 mi.', '209,500 mi.', '145,000 mi.', '127,500 mi.',
       '39,900 mi.', '67,482 mi.', '52,000 mi.', '9,500 mi.',
       '103,000 mi.', '46,000 mi.', '48,306 mi.', '17,500 mi.',
       '86,204 mi.', '63,875 mi.', '72,000 mi.', '106,000 mi.',
       '98,700 mi.', '26,000 mi.'], dtype=object)

In [15]:
train_df['fuel_type'].unique()

array(['Gasoline', 'E85 Flex Fuel', '–', 'Plug-In Hybrid', 'Hybrid', nan,
       'Diesel', 'not supported'], dtype=object)

In [16]:
train_df['fuel_type'].value_counts()

fuel_type
Gasoline          2643
Hybrid             158
E85 Flex Fuel      117
Diesel              95
–                   35
Plug-In Hybrid      30
not supported        2
Name: count, dtype: int64

In [17]:
df['engine'].unique()[:30]

array(['300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability',
       '3.8L V6 24V GDI DOHC', '3.5 Liter DOHC',
       '354.0HP 3.5L V6 Cylinder Engine Gas/Electric Hybrid',
       '2.0L I4 16V GDI DOHC Turbo', '2.4 Liter',
       '292.0HP 2.0L 4 Cylinder Engine Gasoline Fuel',
       '282.0HP 4.4L 8 Cylinder Engine Gasoline Fuel',
       '311.0HP 3.5L V6 Cylinder Engine Gasoline Fuel',
       '534.0HP Electric Motor Electric Fuel System', 'V6',
       '715.0HP 5.2L 12 Cylinder Engine Gasoline Fuel',
       '382.0HP 3.0L Straight 6 Cylinder Engine Gasoline Fuel',
       '400.0HP 3.0L V6 Cylinder Engine Gasoline Fuel',
       '2.0 Liter Supercharged',
       '375.0HP 5.0L 8 Cylinder Engine Gasoline Fuel',
       '305.0HP 3.6L V6 Cylinder Engine Gasoline Fuel',
       '287.0HP 3.5L V6 Cylinder Engine Gasoline Fuel',
       '550.0HP 5.0L 8 Cylinder Engine Gasoline Fuel',
       '375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel',
       '120.0HP 2.2L 4 Cylinder Engine Flex Fuel Capability',
       '3.0 Liter Turbo', '3.5L V6 24V PDI DOHC Twin Turbo',
       '355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel',
       '276.0HP 2.0L 4 Cylinder Engine Gasoline Fuel', '1.8 Liter',
       '382.0HP 2.0L 4 Cylinder Engine Gasoline Fuel',
       '445.0HP 4.4L 8 Cylinder Engine Gasoline Fuel',
       '2.0L I4 16V GDI DOHC Turbo Flexible Fuel',
       '362.0HP 3.0L V6 Cylinder Engine Gasoline Fuel'], dtype=object)

In [18]:
df['transmission'].unique()

array(['6-Speed A/T', '8-Speed Automatic', 'Automatic', '7-Speed A/T',
       'F', 'A/T', '8-Speed A/T', 'Transmission w/Dual Shift Mode',
       '9-Speed Automatic', '6-Speed M/T', '10-Speed A/T', '9-Speed A/T',
       '5-Speed A/T', '1-Speed A/T', 'Automatic CVT',
       '7-Speed Automatic with Auto-Shift', 'CVT-F', 'M/T',
       '6-Speed Automatic with Auto-Shift', '10-Speed Automatic',
       'CVT Transmission', '4-Speed A/T', '6-Speed Automatic',
       '4-Speed Automatic', '7-Speed M/T',
       '8-Speed Automatic with Auto-Shift', '5-Speed Automatic',
       '8-SPEED AT', '1-Speed Automatic', '5-Speed M/T', 'Manual',
       '6-Speed Manual', 'Variable', '2', '7-Speed Manual',
       'Automatic, 9-Spd 9G-Tronic', 'Automatic, 8-Spd',
       'Automatic, 8-Spd Sport w/Sport & Manual Modes', '–',
       'Auto, 6-Spd w/CmdShft', 'Transmission Overdrive Switch',
       '7-Speed Automatic', 'Automatic, 8-Spd PDK Dual-Clutch',
       'Automatic, 8-Spd M STEPTRONIC w/Drivelogic, Sport & Manual Modes',
       'Automatic, 8-Spd Dual-Clutch', '6-Speed',
       'Single-Speed Fixed Gear', 'Automatic, 10-Spd',
       '2-Speed Automatic', '7-Speed',
       'Automatic, 7-Spd S tronic Dual-Clutch', 'Manual, 6-Spd',
       '6-Speed Electronically Controlled Automatic with O',
       '6 Speed At/Mt', '8-SPEED A/T',
       '10-Speed Automatic with Overdrive', '7-Speed DCT Automatic',
       '9-Speed Automatic with Auto-Shift',
       'SCHEDULED FOR OR IN PRODUCTION', '2-Speed A/T', '6 Speed Mt',
       '8-Speed Manual'], dtype=object)

In [19]:
df['ext_col'].unique()[:50]

array(['Black', 'Moonlight Cloud', 'Blue', 'Glacier White Metallic',
       'Silver', 'Green', 'Fuji White', 'Yellow', 'White', 'Gray',
       'Purple', 'Iconic Silver Metallic', 'Mythos Black Metallic', 'Red',
       'Gold', 'Lunar Silver Metallic', 'Mountain Air Metallic',
       'Caspian Blue', 'Tango Red Metallic', '–', 'Alpine White',
       'BLU ELEOS', 'Horizon Blue', 'Granite Crystal Clearcoat Metallic',
       'Orange', 'Beige', 'Rift Metallic', 'Atomic Silver',
       'Summit White', 'Imperial Blue Metallic',
       'Magnetic Gray Clearcoat', 'Bright White Clearcoat',
       'Typhoon Gray', 'Crystal Black Silica', 'Arctic Gray Metallic',
       'Selenite Grey Metallic', 'Ultra Black', 'Lunare White Metallic',
       'Hyper Red', 'Daytona Gray Pearl Effect', 'Vik Black',
       'Pacific Blue Metallic', 'Obsidian Black Metallic',
       'Silver Ice Metallic', 'Sonic Silver Metallic', 'Nightfall Mica',
       'Apex Blue', 'Go Mango!', 'Ingot Silver Metallic',
       'Midnight Black Metallic'], dtype=object)

In [20]:
df['int_col'].unique()[:50]

array(['Black', 'Gray', 'Ebony.', 'Green', 'Pimento / Ebony', 'Brown',
       'White', '–', 'Beige', 'Jet Black', 'Light Gray', 'Anthracite',
       'Red', 'Nero Ade', 'Blue', 'Charcoal', 'Rioja Red',
       'Canberra Beige/Black', 'Roast', 'Ivory / Ebony',
       'Silk Beige/Black', 'Medium Pewter', 'Ice', 'Black / Express Red',
       'Obsidian Black', 'Ebony', 'Orange', 'Caramel', 'Orchid',
       'Graphite', 'Tan/Ebony', 'Cappuccino', 'Nero', 'Sahara Tan',
       'BLACK', 'Hotspur', 'Blk', 'Black Onyx', 'Nougat Brown',
       'Titan Black', 'Oyster W/Contrast', 'Silver',
       'Macchiato Beige/Black', 'Sand Beige', 'Navy Pier', 'WHITE',
       'Parchment.', 'Sarder Brown', 'Grace White', 'Cloud'], dtype=object)

In [21]:
print(f"unique exterior color count: {len(df['ext_col'].unique())}\nunique interior color count: {len(df['int_col'].unique())}")

unique exterior color count: 319
unique interior color count: 156

In [22]:
df['accident'].unique()

array(['At least 1 accident or damage reported', 'None reported', nan],
      dtype=object)

In [23]:
df['accident'].value_counts()

accident
None reported                             2910
At least 1 accident or damage reported     986
Name: count, dtype: int64

In [24]:
df['clean_title'].unique()

array(['Yes', nan], dtype=object)

In [25]:
df['clean_title'].value_counts()

clean_title
Yes    3413
Name: count, dtype: int64

In [26]:
df['price'].unique()[:30]

array(['$10,300', '$38,005', '$54,598', '$15,500', '$34,999', '$14,798',
       '$31,000', '$7,300', '$41,927', '$69,950', '$73,897', '$184,606',
       '$53,500', '$62,000', '$47,998', '$29,990', '$250,000', '$16,800',
       '$11,000', '$68,750', '$60,000', '$4,500', '$38,598', '$58,504',
       '$61,000', '$32,300', '$13,998', '$59,995', '$25,700', '$21,375'],
      dtype=object)

**_Quality of the Data_**
* inconsistent model values  (feature eleminating - cause no pattern in feature)
* need to convert model_year column to car_age ✔️
* milage has ',' and ' mi.' included ✔️
* milage has object as datatype need to convert to int ✔️
* fuel_type contains '-', 'not supported' values ✔️
* multiple features can be engineered from engine feature  ('engine_size', 'horsepower', 'cylinder_count')
* need to convert transmission feature into categorical feature (automatic, manual, unknown) ✔️
* need to reduce ext_col count into fewer categories (like blue, red, black, white, etc.) ✔️
* need to reduce int_col count into fewer categories ✔️
* price column has ',' and '$' included ✔️
* price column should be numeric ✔️
* missing values: fuel_type, accident, clean_title
* engineered features ('engine_size', 'horsepower', 'cylinder_count') have missing values

## Data Cleaning

In [179]:
import datetime
current_year = datetime.datetime.now().year
train_df['car_age'] = current_year - train_df['model_year']
train_df = train_df.drop('model_year',axis=1)

In [180]:
train_df['milage'] = train_df['milage'].str.slice(0,-4).str.replace(",","").astype(int)

In [181]:
train_df['fuel_type'].unique()

array(['Gasoline', 'E85 Flex Fuel', '–', 'Plug-In Hybrid', 'Hybrid', nan,
       'Diesel', 'not supported'], dtype=object)

In [182]:
train_df['fuel_type'] = train_df['fuel_type'].apply(lambda x: "Unknown" if x in ['–','not supported'] else ("Hybrid" if x=='Plug-In Hybrid' else x))

In [183]:
automatic = ["a/t","cvt",'dual-clutch','auto-shift','automatic']
manual = ['m/t','manual']
def clean_transmission(transmission):
    if any(x in transmission.lower() for x in automatic):
        transmission = "Automatic"
    elif any(x in transmission.lower() for x in manual):
        transmission = "Manual"
    else:
        transmission = "Unknown"
        
    return transmission

In [184]:
train_df['transmission'] = train_df['transmission'].apply(clean_transmission)

In [185]:
colors = ['black','blue','red','white','silver','green','gray','yellow','purple','gold','orange','brown','pink', 'grey']  
#most common colors are listed first
def clean_color(color):
    for c in colors:
        if c in color.lower():
            cleaned_color = c.capitalize()
            break
        else:
            cleaned_color = "Other"
            
    if cleaned_color=='Gray':
        return "Grey"
    
    return cleaned_color

In [186]:
train_df['ext_col'] = train_df['ext_col'].apply(clean_color)

In [187]:
train_df['int_col'] = train_df['int_col'].apply(clean_color)

In [188]:
train_df['accident'] = train_df['accident'].apply(lambda x: "Accident reported" if x=="At least 1 accident or damage reported" else x)

In [189]:
train_df['price'] = train_df['price'].str.slice(1,).str.replace(",","").astype(int)

In [190]:
train_df.head()

,brand,model,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,car_age
Index,,,,,,,,,,,,
2473,Ford,Explorer Platinum,73049,Gasoline,3.5L V6 24V GDI DOHC Twin Turbo,Automatic,Grey,Black,Accident reported,Yes,30510,6
1338,GMC,Yukon XL AT4,9980,Gasoline,355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel,Automatic,Black,Black,None reported,Yes,82000,1
1613,BMW,M3 Base,55250,Gasoline,425.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Manual,Blue,White,None reported,Yes,49999,8
1610,Lexus,IS 350 Base,77300,Gasoline,306.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,Automatic,White,Black,None reported,Yes,30000,7
2600,Ford,Focus SE,33700,E85 Flex Fuel,160.0HP 2.0L 4 Cylinder Engine Flex Fuel Capab...,Automatic,Grey,Black,Accident reported,Yes,12000,6

## Feature Engineering

In [191]:
train_df['horsepower'] = train_df['engine'].str.extract(r'(\d+\.?\d*)HP').astype(float)

In [192]:
train_df['engine_size'] = train_df['engine'].str.extract(r'(\d+\.?\d*)L').astype(float)

In [193]:
train_df['cylinder_count'] = train_df['engine'].str.extract(r'(\d+\.?\d*) Cylinder').astype(float)

In [194]:
train_df.head(2)

,brand,model,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,car_age,horsepower,engine_size,cylinder_count
Index,,,,,,,,,,,,,,,
2473,Ford,Explorer Platinum,73049,Gasoline,3.5L V6 24V GDI DOHC Twin Turbo,Automatic,Grey,Black,Accident reported,Yes,30510,6,NaN,3.5,NaN
1338,GMC,Yukon XL AT4,9980,Gasoline,355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel,Automatic,Black,Black,None reported,Yes,82000,1,355.0,5.3,8.0

In [195]:
cleaned_train_df = train_df.drop(['model','engine'],axis=1).copy()

In [196]:
cleaned_train_df.head()

,brand,milage,fuel_type,transmission,ext_col,int_col,accident,clean_title,price,car_age,horsepower,engine_size,cylinder_count
Index,,,,,,,,,,,,,
2473,Ford,73049,Gasoline,Automatic,Grey,Black,Accident reported,Yes,30510,6,NaN,3.5,NaN
1338,GMC,9980,Gasoline,Automatic,Black,Black,None reported,Yes,82000,1,355.0,5.3,8.0
1613,BMW,55250,Gasoline,Manual,Blue,White,None reported,Yes,49999,8,425.0,3.0,6.0
1610,Lexus,77300,Gasoline,Automatic,White,Black,None reported,Yes,30000,7,306.0,3.5,6.0
2600,Ford,33700,E85 Flex Fuel,Automatic,Grey,Black,Accident reported,Yes,12000,6,160.0,2.0,4.0

In [197]:
cleaned_train_df.to_csv("../data/cleaned_train_car_data.csv",index='True')